<%= javascript_import_module_tag 'masonry' %>
<div id="dashboard-masonry" data-masonry='{"percentPosition": true }' class="row">
  <% @pr_signets.each do |signet| %>
        <%= render partial: 'pr_list', locals: { signet: signet } %>
  <% end %>
</div>

<div id="offcanvas-pull-request-details" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasRightLabel" aria-modal="true" role="dialog">
  <%= turbo_frame_tag :pull_request_details_panel do %>
    <div class="offcanvas-header">
      <h6 class="offcanvas-title" id="offcanvasRightLabel">Loading...</h6>
    </div>
    <div class="offcanvas-body">

    </div>
  <% end %>
</div>
<div id="offcanvas-backdrop-pull-request-details" class="offcanvas-backdrop fade d-none" data-controller="pull-requests" data-action="click->pull-requests#toggleOffcanvas"></div>
