<%= javascript_import_module_tag 'masonry' %>
<div id="dashboard-masonry" data-masonry='{"percentPosition": true }' class="row">
  <% @pr_signets.each do |signet| %>
        <%= render partial: 'pr_list', locals: { signet: signet } %>
  <% end %>
</div>
