<%= javascript_import_module_tag 'masonry' %>
<div id="dashboard-masonry" data-masonry='{"percentPosition": true }' class="row">
  <% @pr_signets.each do |signet| %>
        <%= render partial: 'pr_list', locals: { signet: signet } %>
  <% end %>
</div>

<%= turbo_frame_tag :pull_request_details_panel %>
<!--<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button>-->
<!--<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" aria-modal="true" role="dialog">-->
<!--  <div class="offcanvas-header">-->
<!--    <h6 class="offcanvas-title" id="offcanvasRightLabel">Hello</h6>-->
<!--  </div>-->
<!--  <div class="offcanvas-body">-->
<!--    SPIKE-0 NullSentry better handler warn-->
<!--  </div>-->
<!--</div>-->