<%= turbo_frame_tag :new_signet_preview do %>
  <dialog id="modal-preview" class="modal" open>
    <div class="modal-box">
      <div class="modal-content">
        <% @pr_signet.gh_pull_requests.each do |pull_request| %>
          <%= render partial: 'pull_requests/pull_request', locals: { pull_request: pull_request } %>
        <% end %>
      </div>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
<% end %>
