<%= turbo_frame_tag :new_signet_preview do %>
  <div id="modal-preview" class="modal fade show" style="display: block" data-action="click->pr-signet-form#hidePreviewModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body modal-dialog modal-dialog-scrollable">
          <% @pr_signet.gh_pull_requests.each do |pull_request| %>
            <%= render partial: 'pull_request', locals: { pull_request: pull_request } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
<% end %>
