<%= turbo_frame_tag 'offcanvas-pull-request-details-frame' do %>
  <div id="offcanvas-pull-request-details" class="offcanvas offcanvas-end show" style="overflow: auto" tabindex="-1" aria-labelledby="offcanvasRightLabel" aria-modal="true" role="dialog">
    <%= turbo_frame_tag :pull_request_details_panel,
                        loading: :lazy,
                        src: pull_request_details_path(number: params[:number], repo: params[:repo]) do %>
      <div class="offcanvas-header row">
        <h6 class="offcanvas-title" id="offcanvasRightLabel">
          <div class="card-text placeholder-glow row px-3">
            <span class="placeholder col-8"></span>
          </div>
        </h6>
      </div>
      <div class="offcanvas-body">
        <div class="card-text placeholder-glow row px-3">
          <span class="placeholder col-5"></span>
          <p class="py-4 px-0">
            <span class="placeholder col-1 placeholder-lg rounded-circle" style="height: 2.6em"></span>
            <span class="placeholder col-3"></span>
          </p>
          <p>
            <span class="placeholder col-3"></span> <i class="bi bi-arrow-left-short"></i> <span class="placeholder col-6"></span>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div id="offcanvas-backdrop-pull-request-details"
       class="offcanvas-backdrop fade show"
       data-controller="pull-requests">
  </div>
<% end %>
