<div class="container" data-controller="hello">
  <div class="position-absolute top-50 start-50 translate-middle text-center">
    <h1 class="mb-4">GitHub Signet</h1>

    <%= form_tag('/auth/github', method: 'post', data: {turbo: false}) do %>
      <button type='submit' class="btn btn-primary">Sign in with GitHub</button>
    <% end %>
  </div>
</div>
