<%= turbo_frame_tag dom_id(record, :show_errors) do %>
  <div class="container mt-4 text-danger">
      <% record.errors.each do |error| %>
        <p><%= error.full_message %></p>
      <% end %>
  </div>
<% end %>
